# --------------------
# Редактори та IDE
# --------------------
.vscode/
.idea/

# --------------------
# Node.js
# --------------------
node_modules/

# --------------------
# Змінні середовища
# --------------------
.env
.env.local
.env.*.local

# --------------------
# Логи
# --------------------
*.log
logs/

# --------------------
# Тимчасові файли
# --------------------
.tmp/
temp/
.cache/

# --------------------
# ОС
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Білд / дистрибутив
# --------------------
dist/
build/

# --------------------
# Архіви
# --------------------
*.zip
*.rar
*.7z
*.tar
*.gz